body {
  background-color: #202124;
  color: #d3d6d9;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #e4e4e4;
  font-weight: bold;
}
a:hover {
  color: olivedrab;
  text-decoration: none;
}
.text-muted {
  color: #e8eacf !important;
}
.removeSpinner {
  display: none !important;
}
.card-img-top {
  border: 1px solid #25292b;
}
.feedsContainer {
  margin-top: 3px;
}
.bg-light {
  background-color: #2d2e30 !important;
}

.nav-item {
  color: #d3d6d9;
  background-color: #525356 !important;
}

.nav-link:hover {
  color: #d3d6d9;
}

.card-body > p {
  font-size: smaller;
  margin-top: 5px;
}

.card:hover {
  border: 1px solid orange !important;
  cursor: pointer;
}

button {
  margin: 2px;
}

/* [1] The container */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}
