body {
  background-color: #202124;
  color: #d3d6d9;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #e4e4e4;
  font-weight: bold;
}
a:hover {
  color: olivedrab;
  text-decoration: none;
}
.text-muted {
  color: #e8eacf !important;
}
.removeSpinner {
  display: none !important;
}
.card-img-top {
  padding: 2px;
}
.feedsContainer {
  margin-top: 3px;
}
.bg-light {
  background-color: #2d2e30 !important;
}

card {
  border: 1px solid #5f6368;
}
.nav-item {
  color: #d3d6d9;
  background-color: #525356 !important;
}

.nav-link:hover {
  color: #d3d6d9;
}
.card-body > p {
  font-size: smaller;
  margin-top: 5px;
}
